<h1>Welcome to <strong>MojiPets</strong>!</h1>
<div id="content-wrapper">
  <p>Already have an account? Sign in!</p>
  <form id="loginForm" method="POST" action="/login">
    <label for="usernameInput">
      <input id="usernameInput" name="usernameInput" type="text" placeholder="Username" />
    </label>
    <br />
    <label for="passwordInput">
      <input id="passwordInput" name="passwordInput" type="password" placeholder="Password" />
    </label>
    <br />
    <label for="loginSubmit">
      <input id="loginSubmit" name="loginSubmit" type="submit" value="Sign in" />
    </label>
  </form>
  <p id="errorMessage">{{error}}</p>

  <p>OR</p>
  <form id="createForm" method="GET" action="/signup">
    <label for="createSubmit">
      <input id="createSubmit" name="createSubmit" type="submit" value="Create an Account" />
    </label>
  </form>
</div>

<p id="petScroll">
  <span>🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀 🐱 🐶 🐳 🐧 🦂 🐜 🦑 🐢 🐛 🐍 🦀</span>
</p>

<script src=/public/login.js></script>