<div id="profile">
  <div id="profile-header">
    <img src="{{profile_pic}}" alt="{{display_name}}" id="profile-pic">
    <h1>{{display_name}}</h1>
  </div>
  <p>Member since {{join_date}}</p>
  <h2>Favorite Pets</h2>

  <div id="fav-pets">
    {{#each fav_pets}}
      <!-- TODO: alt tag with emoji name -->
      <img src="https://mario.wiki.gallery/images/thumb/9/9f/Mr._L.jpg/1200px-Mr._L.jpg">
    {{/each}}
  </div>

  <div class="center">
    <a href="/">Return to home page</a>
  </div>
</div>