<ul id="favorite-pets-ul">
  {{#each favorites}}
  <li>
    <div class="favoriteable-container">
      <input class="pet-container" type="image" id={{_id}} alt="{{emoji.name}}" src="{{emoji.img}}" />
      <img class="unfavorite-icon" src="/public/resources/star.svg" />
    </div>
  </li>
  {{/each}}
</ul>