<div id="replaceable-container" class="individual-pet">
  <h2 class="center">THIS VIEW IS NOWHERE NEAR FINISHED</h2>

  <div class="bottom">
    <a href="/home" class="bottom" id="return">Go back to default</a>
  </div>
</div>