<div id="replaceable-container" class="individual-pet">
  <h2 class="center">{{name}}</h2>
  <div>
    <p>THIS VIEW IS NOWHERE NEAR FINISHED</p>
  </div>

  <div class="bottom">
    <a href="/home" class="center" id="return">Go back to default</a>
  </div>
</div>