body {
  background-color: #868fd7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vh;

  display: grid;
  grid-template-columns: repeat(5, 18.5vw);
  grid-template-rows: repeat(6, 90vh);
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vh;
  overflow: hidden;
  scrollbar-color: #868fd7 #FFFFFF;
}

*::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #FFFFFF;
  background-color: #868fd7;
}

.centered {
  width: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.favorite-pets {
  grid-area: 1 / 1 / 4 / 2;
  height: 45vh;
  padding-top: 1vh;
  margin-bottom: 2vh;
}

.inventory {
  /* grid-area: 4 / 1 / 6 / 2; */
  grid-area: 4 / 1 / 7 / 2;
  height: 45vh;
  padding-top: 1vh;
  text-align: center;
  overflow: hidden;
}

#inventory-ul {
  overflow-y: scroll;
  height: 34vh;
}

.toys {
  grid-area: 6 / 1 / 7 / 2;
}

.right-sidebar {
  grid-area: 1 / 5 / 2 / 6;
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  padding-bottom: 94vh;
  position: relative;
}

#container {
  grid-area: 1 / 2 / 2 / 5;
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 93vh;
  position: relative;
}

.all-pets {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 30px;
  grid-area: 1 / 1 / 1 / 1;
  overflow-y: scroll;
  padding-bottom: 130px;
}

.all-pets > div > input {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #F5F5F5;
  width: 120px;
  height: 120px;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.2vw #BCBCBC;
}

.all-pets > div > div > p {
  text-align: left;
  padding: 2px;
  margin: 2px;
}

#center-container {
  grid-area: 1 / 2 / 2 / 5;
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 93vh;
  position: relative;
}

#replaceable-container {
  grid-area: 1 / 2 / 2 / 5;
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 93vh;
  position: relative;
}

.pet {
  width: 5vw;
  height: 5vw;
  border-radius: 0.5vw;
  position: absolute;
}

.item {
  width: 5vw;
  height: 5vw;
  border-radius: 0.5vw;
  position: absolute;
}

.pet-container {
  background-color: #F5F5F5;
  width: 5vw;
  height: 5vw;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.2vw #BCBCBC;
}

.emoji-container > img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #F5F5F5;
  width: 100px;
  height: 100px;
}

.emoji-container > p {
  margin-top: -10px;
  margin-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.emoji-container {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #F5F5F5;
  width: 5vw;
  height: 6vw;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.2vw #BCBCBC;
  text-align: center;
}

div > div {
  background-color: #FFFFFF;
  border-radius: 0.5vw;

  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  position: relative;
}

div > h2 {
  text-align: center;
  vertical-align: bottom;
}

div > a {
  text-align: center;
  color: #1d2e44;
  font-weight: 900;

  width: max-content;
  bottom:0;
  text-align:center;
}

.left {
  float:left;
  margin-left: 40px;
  margin-bottom: 5px;
}

.right {
  float:right;
  margin-right: 40px;
  margin-bottom: 5px;
}

.center {
  display: inline-block;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 0.5vw;
  padding: 0;
  display: inline-block;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
}

#friends-ul > li {
  width: calc(100% - 1vw);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1vw;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#friends-ul > li:hover {
  background-color: #F5F5F5;
  visibility: visible;
}

li > div > form {
  visibility: hidden;
  float: right;
  font-size: 10px;
  background-color: #C4C4C4;
  color: #FFFFFF;
  border-radius: 0.2vw;
  margin: 0;
  margin-right: 1vw;
}

li:hover > div > form {
  visibility: visible;
}

li:hover > div > form input[type="submit"] {
  visibility: visible;
}

li > div > p {
  float: left;
  margin: 0;
}

#logout {
  color: #1d2e44;
  text-align: right;
  font-size: 20px;
  position: absolute;
  bottom: 1vh;
  right: 1.2vw;
}

form > label {
  visibility: hidden;
}

input[type="submit"] {
  background: #ECECEC;
  border-radius: 5px;
  border: none;

  width: 20em;
  height: 2.5em;

  padding-left: 15px;
  outline: none;

  background-color: #868fd7;
  color: white;
  font-size: 110%;
  font-weight: bolder;

  width: 12em;
}