body {
  background-color: #868fd7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vh;

  display: grid;
  grid-template-columns: repeat(5, 18.5vw);
  grid-template-rows: repeat(6, 90vh);
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vh;
  overflow: hidden;
  scrollbar-color: #868fd7 #FFFFFF;
}

*::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #FFFFFF;
  background-color: #868fd7;
}

.formError {
  box-shadow: 0 0 5px red !important;
  border: 1px solid red !important;
}

input[type="text"] {
  padding: 3px 3px 3px 3px;
  margin: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 255);
  background: #ECECEC;
  border-radius: 5px;
  border: none;

  width: 14vw;
  height: 2.5em;

  padding-left: 15px;
  outline: none;
}

#addFriendSubmit {
  background-color: #868fd7;
  color: white;
  font-size: 110%;
  font-weight: bolder;

  width: 12vw;
}

#error {
  color: #000000 !important;
  text-align: center !important;
}

.centered {
  width: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 2vh;
}

.favorite-pets {
  grid-area: 1 / 2 / 4 / 2;
  grid-template-columns: repeat(2, 1fr);
  height: 45vh;
  padding-top: 1vh;
  margin-bottom: 2vh;
}

.inventory {
  grid-area: 1 / 1 / 1 / 1;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.002vh;
  margin-bottom: 1vh;
  /* grid-area: 4 / 1 / 6 / 2; */
  /* grid-area: 1/1/1/1; */
  /* padding-top: 1vh; */
  text-align: center;
  /* overflow: hidden; */
}

.toys {
  grid-area: 1 / 1 / 1 / 1;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.002vh;
  margin-bottom: 1vh;
  /* grid-area: 4 / 1 / 6 / 2; */
  /* grid-area: 1/1/1/1; */
  /* padding-top: 1vh; */
  text-align: center;
  /* overflow: hidden; */
}

#favorite-pets-ul {
  overflow-y: scroll;
  height: 34vh;
}

.inventory-ul {
  overflow-y: scroll;
  height: 18.4vh;
  padding-bottom: 5vh;
}

.toys-ul {
  overflow-y: scroll;
  height: 13.5vh;
  padding-bottom: 0;
}

.right-sidebar {
  grid-area: 1 / 5 / 2 / 6;
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  padding-bottom: 94vh;
  position: relative;
  overflow: hidden;
}

#container {
  grid-area: 1 / 2 / 2 / 5;
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 93vh;
  position: relative;
}

.all-pets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 30px;
  overflow-y: scroll;
  height: 70vh;
  padding-bottom: 130px;
}

.all-pets > div > div > input {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #F5F5F5;
  width: 120px;
  height: 120px;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.2vw #BCBCBC;
}

.all-pets > div > div > p {
  text-align: left;
  padding: 2px;
  margin: 2px;
}

#center-container {
  grid-area: 1 / 2 / 2 / 5;
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 93vh;
  position: relative;
}

#replaceable-container {
  grid-area: 1 / 2 / 2 / 5;
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 93vh;
  position: relative;
  text-align: center;
}

.pet {
  width: 5vw;
  height: 5vw;
  border-radius: 0.5vw;
  position: absolute;
}

.petlabel {
  position: absolute;
  background-color: transparent;
  user-select: none;
  font-weight: bold;
}

.item {
  width: 5vw;
  height: 5vw;
  border-radius: 0.5vw;
  position: absolute;
}

.pet-container {
  background-color: #F5F5F5;
  width: 5vw;
  height: 5vw;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.2vw #BCBCBC;
}

.favoriteable-container > .favorite-icon, .favoriteable-container > .unfavorite-icon {
  position: absolute;
  width: 1.8vw;
  height: 1.8vw;
  left: 3.1vw;
  top: 0.1vw;
  visibility: hidden;
}

.pet-view-container > .favorite-icon, .pet-view-container > .unfavorite-icon {
  position: absolute;
  width: 4vw;
  height: 4vw;
  left: 10vw;
  top: -0.5vw;
  visibility: hidden;
}

.all-pets > div > div > .favorite-icon, .all-pets > div > div > .unfavorite-icon {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 74.4px;
  top: 2.4px;
  visibility: hidden;
}

.favoriteable-container:hover > .favorite-icon, .favoriteable-container:hover > .unfavorite-icon,
.pet-view-container:hover > .favorite-icon, .pet-view-container:hover > .unfavorite-icon,
.all-pets > div > div:hover > .favorite-icon, .all-pets > div > div:hover > .unfavorite-icon {
  visibility: visible;
  background-color: #00000000;
}

.unfavorite-icon:hover {
  filter: grayscale(60%);
}

.favorite-icon {
  filter: grayscale(60%);
}

.favorite-icon:hover {
  filter: grayscale(0%);
}

.emoji-container > img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #F5F5F5;
  width: 100px;
  height: 100px;
}

.emoji-container > p {
  margin-top: -10px;
  margin-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.emoji-container {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #F5F5F5;
  width: 5vw;
  height: 6vw;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.2vw #BCBCBC;
  text-align: center;
}

.pet-view-container > img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #F5F5F5;
  width: 100px;
  height: 100px;
}

.pet-view-container {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #F5F5F5;
  width: 15vw;
  height: 15vw;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.2vw #BCBCBC;
  text-align: center;
}

.pet-view-container > input {
  text-align: center;
  margin: 0;
  padding: 0;
}

.individual-pet > h2 {
  font-size: 40px;
}

.individual-pet > div > p {
  font-size: 30px; 
}

.health {
  width: 20vw;
  height: 2vw;
  border: 0 solid black;
  margin: 0;
  padding: 0;
  top: -100vh;
}

.health-high::-webkit-meter-optimum-value {
  background: green;
}

.health-med::-webkit-meter-optimum-value {
  background: orange;
}

.health-low::-webkit-meter-optimum-value {
  background: red;
}

div > div {
  background-color: #FFFFFF;
  border-radius: 0.5vw;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  position: relative;
}

div > h2 {
  text-align: center;
  vertical-align: bottom;
  margin-top: 1vh;
  margin-bottom: 0vh;
}

div > a {
  text-align: center;
  color: #1d2e44;
  font-weight: 900;

  width: max-content;
  bottom:0;
  text-align:center;
}

.left {
  float:left;
  margin-left: 40px;
  margin-bottom: 5px;
}

.right {
  float:right;
  margin-right: 40px;
  margin-bottom: 5px;
}

.center {
  display: inline-block;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 0.5vw;
  padding: 0;
  display: inline-block;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
}

#friends-ul {
  overflow-y: scroll;
  height: 75vh;
}

#friends-ul > li {
  width: calc(100% - 1vw);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1vw;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#friends-ul > li:hover {
  background-color: #F5F5F5;
  visibility: visible;
}

.emoji-container:hover, .favoriteable-container:hover > input[type="image"], .pets-view-container:hover > input {
  background-color: #C4C4C4;
}

[data-clicked="y"] {
  background-color: #BFBFBF;
}

.pets-view-container > input {
  background-color: #00000000;
}

.emoji-container > input:hover {
  background-color: #00000000;
}

li > div > form {
  visibility: hidden;
  float: right;
  font-size: 10px;
  background-color: #C4C4C4;
  color: #FFFFFF;
  border-radius: 0.2vw;
  margin: 0;
  margin-right: 1vw;
}

li:hover > div > form {
  visibility: visible;
}

li:hover > div > form input[type="submit"] {
  visibility: visible;
}

li > div > p {
  float: left;
  margin: 0;
}

#logout {
  color: #1d2e44;
  text-align: right;
  font-size: 20px;
  position: absolute;
  bottom: 1vh;
  right: 1.2vw;
}

.money {
  position: fixed;

  background-color: #F5F5F5;
  width: 140px;
  height: 35px;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.2vw #BCBCBC;
  text-align: center;

  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: .7vw;

  text-align: center;
}

.money > p {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding-bottom: 0;
  padding: 0;
  margin-top: 6px;
}

form > label {
  visibility: hidden;
}

#addFriendDiv > form > label {
  visibility: visible;
}

input[type="submit"] {
  background: #ECECEC;
  border-radius: 5px;
  border: none;

  height: 2.5em;

  padding-left: 0;
  padding-right: 0;
  outline: none;

  background-color: #868fd7;
  color: white;
  font-size: 110%;
  font-weight: bolder;

  width: 9em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.delete > label > input[type="submit"] {
  width: 3em;
  text-align: center;
  justify-content: center;
  align-items: center;
}
